
@{
    ViewBag.Title = "Attending";
}

<h2>Attending</h2>

 Which day?
<div class="form-group" id="partyDate" name="partyDate">
    <select class="custom-select">
        <option selected="">Select One</option>
        <option value="1">Friday, 12/14</option>
        <option value="2">Sat, 12/15</option>
    </select>
</div><br />
        Will you be bringing a guest?
<div class="form-group" id="guest">
    <select class="custom-select">
        <option selected="">Select One</option>
        <option value="1">Hard Maybe</option>
        <option value="2">Nope</option>
    </select>
</div><br />
        Guest First Name <input type="text" name="GuestFirstName" /><br /><br />
        Guest Last Name <input type="text" name="GuestLastName" /><br /><br />
