
@{
    ViewBag.Title = "BringDish";
}

<h2 class="text-info">Pass it around, yo</h2><br />
 
<form action="/Home/ConfirmDish" method="post">
    <div class="control-label col-md-2">
        First Name <input type="text" name="FirstName" required /><br /><br />
        Last Name <input type="text" name="LastName" required /><br /><br />
        Phone Number <input type="tel" name="PNum" required /><br /><br />
        Dish Name <input type="text" name="Dish" required /><br /><br />
        <div class="form-group">
            <label for="description">Dish Description</label>
            <textarea class="form-control" id="Description" rows="9">
     </textarea>
        </div>
        <fieldset class="form-group">
            <legend>Dietary Restrictions</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" name="Veggie">
                    Vegetarian
                </label><br />
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" name="vegan">
                    Vegan
                </label><br />
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" name="GF">
                    Gluten Free
                </label><br />
            </div>
        </fieldset><br />
        <input type="submit" class="btn-success" />
    </div></form>