
@{
    ViewBag.Title = "Confirmation";
}

<h2 class="text-success">Confirmation</h2>
<p>@ViewBag.ConfirmName</p>
<p>@ViewBag.ConfirmDate</p>
<p>@ViewBag.ConfirmEmail</p>
<p>@ViewBag.ConfirmGuest </p>  
            
        
