
@{
    ViewBag.Title = "ConfirmDish";
}

<h2 class="text-info">Dish to pass confirmation page!!!!!!</h2><br />

<p>@ViewBag.ConfirmName </p>
<p> @ViewBag.ConfirmDish</p>        
<p>@ViewBag.Description</p>   