@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quicken Holiday Party!!</h1>

    <p><a href="/Home/Register" class="btn btn-success btn-lg">RSVP &raquo;</a></p>
    <p><a href="/Home/BringDish" class="btn btn-warning btn-lg">Bring a Dish &raquo;</a></p>
</div>

